<div class="row">
  <div class="large-10 medium-10 small-12 columns large-centered medium-centered small-centered">
    <div id='calendar'></div>
  </div>
</div>

<div id="dialog" class="hide">
  <p>Create new schedule for week of <span class="create-week-dialogue"></span>?</p>
  <%= link_to 'Create', '#', class: 'button tiny new-schedule' %>
</div>
