<div class="row">
  <div class="small-5 columns">
    <%= image_tag "calendar.png", size: "300x300" %>
  </div>
  <div class="small-7 columns">
    <h2 class="algreya">Scheduling made by someone who schedules.</h2>
  </div>
</div>
