.schedules {
  margin: 10px auto;
}
.schedules td {
  padding: 0 0;
  margin: 0 0;
}
.schedules select {
  font-size: 11px;
  height: 30px;
  width: 65px;
  padding: 0 0;
  margin: 0 0;
}

#detailview {
  margin: 0;
  padding: 0;
}

#detailview div {
  position: relative;
  margin: 10px 0;
}

#detailview .name {
  padding: 0.5em 0.75em;
  width: 100px;
}

#detailview .shell {
  background-color: #F5F5F5;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80%;
}

#detailview .bar {
  background: red;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

.sick select {
  background-color: #E37668;
}

.vaca select {
  background-color: #57D36B;
}

.daily-planner th {
  font-size: .6em;
  padding: 5px;
}

.daily-planner {
  width: 100%;
  margin: 10px auto;
}

.fifteen-min {
  width: 12px;
  padding: 0;
  margin: 0;
}

.occupied {
  background-color: #E37668;
}

.employees table, .positions table {
  width: 100%;
}

.fc-week:hover {
  background-color: #C3E0FF;
}

.schedules input.button {
  margin: 0;
}

/* Full Calendar */
.fc-header {
  background-color: transparent;
  border: none;
}

#calendar table {
  heght: 100%;
}
